<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<insert id="insertuser">
		Insert into USER
		(id, pw, email)
		values
		(#{id},#{pw},#{email})
	</insert>
	
	<select id="loginuser" resultType="Integer" parameterType="com.devfox.dto.UserVO"> 
		Select COUNT(*) FROM USER WHERE id=#{id} AND pw=#{pw};
	</select>
	
	<update id="uploadfile" parameterType="com.devfox.dto.UserVO">
		UPDATE USER SET OFILE = #{ofile}, SFILE = #{sfile} where id = #{id};
	</update>
	
	<select id="sfilecheck" resultType="string" parameterType="string"> 
		select ofile from user where id = #{id};
	</select>

</mapper>